/*selektor znacznika*/

p {
    color: orange;
}

/*selektor ID*/

#paragraf {
    color: aqua;
}

a, span, div {
    background-color: red;
}
li > a {
    background-color: black;
}
h1 + p {
    color: green;
}

h1 ~ p {
    color: aqua;
}
ul#lista > li:not(.last) {
    background-color: lawngreen;
}
ul#lista > li:nth-child(3) {
    background-color: red;
}