body {
    background-color: lime;
}

div {
    width: 400px;
    height: 50px;
    margin-bottom: 10px;

}

#predefiniowalne {
    background-color: darkorchid;
}

#hex {
    background-color: brown;
}
#hex-skrocony {
    background-color: red;
}
#rgb {
    background-color: rgb(22, 65, 231);
}
#rgba {
    background-color: rgb(22, 45, 231, 0.6);
}