body {
    background-color: red;
}
#pierwszy {
    background-color: blue;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    top: 40px;
    left: 30px;
}
#drugi {
    background-color: aqua;
    width: 600px;
    height: 100px;
}